# =============================================================================
# Server (apps/server / packages/env)
# =============================================================================
DATABASE_URL="D:/local.db"
BETTER_AUTH_SECRET=0LRwiHknIQCn28PWGjbWiNeNXbudDgXk
BETTER_AUTH_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development